/* .card{
    background-color: blue;
    border-radius: 12px;
    box-shadow: 2px 8px 8px 4px rgba(17, 16, 16, 0.4);
} */

.card {
        margin: 20px auto;
        width: 500px;
        height: 600px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.8s;
    text-align: center;
    background-color: rgba(73, 70, 250, 0.815);
    color:white;
  }

  * {
    box-sizing: border-box;
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    .card {
      width: 100%;
      display: block;
      padding: 0.1rem;
      margin-bottom: 20px;
    }}

.card:hover{
    background-color: rgba(8, 26, 107, 0.692);
    padding-top: 1rem;
    color:rgb(255, 231, 11);
}